#container {
  background-color: #eee;
  border: 1px solid #999;
  overflow: auto;
  padding: 20px;
}
img {
  width: 80px;
  height: 80px;
}
.left {
  width: 160px;
  float: left;
  padding: 19px;
  border: 1px solid #999;
}
.right {
  width: 80px;
  float: right;
  padding: 19px;
  border: 1px solid #999;
}

#content {
  margin: 0 140px 0 220px;
  padding: 20px;
  border: 1px solid #999;
}
.left p {
  float: right;
}
.right img {
  margin-bottom: 20px;
}
.right img:last-child {
  margin: 0;
}
